* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FFDE34, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 1s ease-in-out;
    color: #333;
    width: 90%;
    max-width: 1000px;
    overflow-y: auto;
    max-height: 90vh;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #ff9800;
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background: #ff9800;
    color: white;
}

td form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="text"], input[type="number"], input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"], .back-button button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #ff9800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0.2rem;
}

input[type="submit"]:hover {
    background: #2EE552;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: #ff9800;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 0.2rem;
}

.delete:hover{
    background:rgba(255, 0, 0, 1) ;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button button:hover{
    background: #7C7C7C;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 0.5rem 0;
    color: #333;
}

input[type="text"], input[type="number"] {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.back-button {
    display: inline-block;
    margin-top: 1rem;
}

td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    input[type="text"], input[type="number"] {
        max-width: 500px;
    }
}
