* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #FFB800, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
    color: white;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    overflow-y:auto
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    animation: textGlow 1.5s ease-in-out infinite alternate;
}

@keyframes textGlow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 0 0 20px rgba(255, 255, 255, 0.7);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    }
}

table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

th, td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background: rgba(0, 0, 0, 0.5);
}

td form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

input[type="submit"], .back-button button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.delete{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.delete:hover{
    background:rgba(255, 0, 0, 1) ;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background: #2EE552;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-button button:hover{
    background: #F19827;
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.delete {
    text-decoration: none;
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.back-button {
    display: inline-block;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
    }

    input[type="text"] {
        max-width: 500px;
    }
}
